<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>


    body{
       width:100vw;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
    }
    
    
    img{
        width:300px;
        height:300px;
        border:1px solid;
    
    }
    
    .types{
        display: flex;
        justify-content: center;
    }
    
    ul{
        width:100vw;
        min-height:100vh;
        display: flex;
        flex-wrap: wrap;
        row-gap:20px;
        margin-left:30px;
        
    
    
    }
    
    a{
        border:1px solid ;
        border-radius: 5px;
        padding:15px;
        margin:10px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        
        
    }

    li{
        list-style-type: none;
    }
        </style>
    
<body>
    

<div class="types">
    <ul>
        <li><a href="/patient/main/consult/GeneralPhysician"><img src="" alt="">General-Physician</a></li>
        <li><a href="/patient/main/consult/DentalCare"><img src="" alt="">Dental Care</a></li>
        <li><a href="/patient/main/consult/Women'Health"><img src="" alt="">Women'Health</a></li>
        <li><a href="/patient/main/consult/Skin&Hair"><img src="" alt="">Skin&Hair</a></li>
        <li><a href="/patient/main/consult/ChildSpecalist"><img src="" alt="">Child Specalist</a></li>
        <li><a href="/patient/main/consult/Menatlwellness"><img src="" alt="">Menatl wellness</a></li>
        <li><a href="/patient/main/consult/Cancer"><img src="" alt="">Cancer</a></li>
        <li><a href="/patient/main/consult/PhysioTherapy"><img src="" alt="">PhysioTherapy</a></li>
        <li><a href="/patient/main/consult/Ayurveda"><img src="" alt="">Ayurveda</a></li>
        <li><a href="/patient/main/consult/Heart"><img src="" alt="">Heart</a></li>
        <li><a href="/patient/main/consult/Others"><img src="" alt="">Others</a></li>
    </ul>
</div>
</body>
</html>