<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    body {
        width: 100vw;
        min-height: 100vh;
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow-x:hidden;
    }

div{
        width:300px;
}
    form{
        border: 0.5px solid black;
        border-radius: 5px;
        height: 601px;
        width:280px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    button {
        border: 1px solid;
        border-radius: 15px;
        background-color: black;
        color: white;
        height: 40px;
        width: 100%;
        margin-top: 10px;
    }

    input {
        padding: 15px;
        border: 1px solid black;
        border-radius: 5px;
    }

    p {
        border: 0;
        height: 2px;
        background-color: black;
    }
    a{
     border:1px solid black;
     padding:10px;
     width:20vw;
    }
</style>


<body>
<h1>patientsignup</h1>
    <form action="/patient/signupdetails" method="POST" enctype="application/x-www-form-urlencoded">
        <h1>Signup</h1>
        <label for="name">UserName</label><br>
        <input type="text" width=50 id="name" name="Username"  required placeholder="Enter your Username..."><br>
        <label for="email">Email address</label><br>
        <input type="text" width=50 id="email" name="email"  required placeholder="Enter your email..."><br>
        <label for="pass">CreatePassword</label><br>
        <input type="password" width=50 id="pass" name="password" required placeholder="Enter your password..."><br>
        <label for="age">Age</label><br>
        <input type="text" width=50 id="Age" name="age"  required placeholder="Enter your age..."><br>
        <button type="submit">Continue</button>
    </form>

        
</body>
<script src="/sendalert.js"></script>


</html>