<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MediConnect - Welcome to Homepage</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="/welcome.css" />
</head>

<body>
  <header class="header">
    <div class="logo">YOUR LOGO</div>
    <nav class="navbar">
      <button type="submit" class="btn1"><a href="/doctor/login">Login as Doctor</a></button>
      <button type="submit" class="btn2"><a href="/patient/login">Login as Patient</a></button>
    </nav>
  </header>
  <section class="hero">
    <div class="hero-content">
      <h1 id="tagline">
        Transforming <span class="red-text">Care,</span> <br /><span class="red-text">Empowering</span>
        Health
      </h1>
      <div class="para">
        <p>
          At our online medical service, we are dedicated to provide you with
          the highest quality of healthcare. Our team of experienced medical
          professionals is here to assist you.
        </p>
      </div>
    </div>

    <div class="hero-image">
      <img src="/doctor.png" alt="Doctor" />
    </div>
  </section>
  <section class="results">
    <div class="result-item a">
      <h2>OUR RESULTS</h2>
    </div>
    <div class="result-item a">
      <h3 class="num" data-val="5000">0</h3>
      <p class="minntext">people used</p>
    </div>
    <div class="result-item a">
      <div style="display: flex;justify-content: center;align-items: center;height: 100%;width: 100%">
        <h3 class="num" data-val="90">0</h3>
        <h3>%</h3>
      </div>
      <p class="mintext">people reviewed</p>
    </div>
    <div class="result-item">
      <h3 class="num" data-val="1000">0</h3>
      <p class="mintext">experienced doctors</p>
    </div>
  </section>
  <section class="services">


    <div class="doctor">
      <img src="/doctor2.png" alt="Doctor2" />
    </div>

    <div class="doctor-content">
      <div class="doctext">
        <p class="newtext">
          Health fuels dreams; <br />
          illness seeks cures
        </p>
      </div>
      <div class="para">
        <p class="imgtext">
          Please make sure to stay healthy, maintain your metabolic balance,
          and recover from any sickness as soon as possible. Prioritizing your well-being will help you stay strong and
          live life to the fullest.
        </p>
      </div>
    </div>
  </section>
  <!-- <iframe src='https://my.spline.design/untitled-6e2eea089a5b034f56fce6182b28c9f3/' frameborder='0' width='100%' height='100%'></iframe> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <script src="/welcome.js"></script>
  <script src="/sendalert.js"></script>
</body>

</html>