.loader4 {
  width: 48px;
  height: 48px;
  position: relative;
}

/* DOT RING */
.loader4::before,
.loader4::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48em;
  height: 48em;

  background-image:
    radial-gradient(circle 10px, #007bff 100%, transparent 0),
    radial-gradient(circle 10px, #007bff 100%, transparent 0),
    radial-gradient(circle 10px, #007bff 100%, transparent 0),
    radial-gradient(circle 10px, #007bff 100%, transparent 0),
    radial-gradient(circle 10px, #61d5ff 100%, transparent 0),
    radial-gradient(circle 10px, #61d5ff 100%, transparent 0),
    radial-gradient(circle 10px, #61d5ff 100%, transparent 0),
    radial-gradient(circle 10px, #61d5ff 100%, transparent 0);

  background-position:
     0em -18em,
     0em  18em,
     18em  0em,
    -18em  0em,
     13em -13em,
    -13em -13em,
     13em 13em,
    -13em 13em;

  background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blastBlue 1.1s ease-in infinite;
}

/* CENTER ORB */
.loader4::after {
  font-size: 1px;
  background: radial-gradient(circle, #61d5ff 0%, #007bff 90%);
  animation: bounceBlue 1.1s ease-in infinite;
}


/* ANIMATIONS */
@keyframes bounceBlue {
  0%, 100% { 
    font-size: 0.75px;
    filter: drop-shadow(0 0 2px #007bff);
  }
  50% { 
    font-size: 1.55px;
    filter: drop-shadow(0 0 6px #61d5ff);
  }
}

@keyframes blastBlue {
  0%, 40% {
    font-size: 0.5px;
    opacity: 0.8;
  }
  70% {
    opacity: 1;
    font-size: 4px;
    filter: drop-shadow(0 0 4px #61d5ff);
  }
  100% {
    font-size: 6px;
    opacity: 0;
  }
}
