body{
    width:100vw;
    overflow-x: hidden;
    margin:0px;
    padding:0px;
    user-select: none;
      

}

html{
  scroll-behavior: smooth;
}


.loader{
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
